
.MusicNewReleases_image-card img {
    width: 90%; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
}
.NewReleases_title{
margin-bottom: 1em;
}
.MusicNewReleases_image-card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  .MusicNewReleases_image-card img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .MusicNewReleases_image-card:hover img {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    z-index: 1; /* Bring the hovered image to the front */
  }
  @media screen and (max-width: 1850px){
    .MusicNewReleases_image-card {
      margin-top: 1em;
      height: 350px;
    }
  
    .MusicNewReleases_image-card img {
      height: 220px;
      width: 220px;
    }
  }
  @media screen and (max-width: 1350px){
    .MusicNewReleases_image-card {
      margin-top: 1em;
      height: 350px;
    }
  
    .MusicNewReleases_image-card img {
      height: 200px;
      width: 200px;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .MusicNewReleases_image-card {
      margin-top: 1em;
      height: 350px;
    }
  
    .MusicNewReleases_image-card img {
      height: 220px;
      width: 220px;
    }
  }
  