.RecommendationsMusic_title{
    margin-top: 1em;
    font-size: 40px;
    font-weight: bold;
    margin-bottom:1em;
}
@media screen and (max-width: 768px) {
    .RecommendationsMusic_title{
        margin-top: 1em;
        font-size: 26px;
        font-weight: bold;
        margin-bottom:1em;
    }
}