.banner_area {
    display: flex;
    justify-content: center; /* Horizontally center the banner */
    align-items: center; /* Vertically center the banner */
}
.banner_img {
    width: 600px;
    max-width: 800px;
    border-radius: 55px;
    overflow: 'hidden';
    display: block; /* Ensure the image is displayed as a block element */
    margin: 3em auto; /* Center the image horizontally within its container */
}

.banner {
    text-align: center; /* Center the content inside the banner */

}

.banner-text-area {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 1850px){
    .banner_area {
        display: flex;
        justify-content: center; /* Horizontally center the banner */
        align-items: center; /* Vertically center the banner */
    }
    .banner_img {
        width: 600px;
    max-width: 800px;
        display: block; /* Ensure the image is displayed as a block element */
        margin: 3em auto; /* Center the image horizontally within its container */
    }
    
    .banner {
        text-align: center; /* Center the content inside the banner */
    
    }
    
    .banner-text-area {
        margin-top: 20px;
        margin-bottom: 20px;
    }

  }
  @media screen and (max-width: 1350px){
    .banner_area {
        display: flex;
        justify-content: center; /* Horizontally center the banner */
        align-items: center; /* Vertically center the banner */
    }
    .banner_img {
        width: 600px;
    max-width: 800px;
        display: block; /* Ensure the image is displayed as a block element */
        margin: 3em auto; /* Center the image horizontally within its container */
    }
    
    .banner {
        text-align: center; /* Center the content inside the banner */
    
    }
    
    .banner-text-area {
        margin-top: 20px;
        margin-bottom: 20px;
    }

  }

  @media screen and (max-width: 768px) {
    .banner_area {
        display: flex;
        justify-content: center; /* Horizontally center the banner */
        align-items: center; /* Vertically center the banner */
    }
    .banner_img {
        width: 350px;
        max-width: 800px;
        display: block; /* Ensure the image is displayed as a block element */
        margin-top: 3em;
        margin-bottom: 2em;

    }
    
    .banner {
        text-align: center; /* Center the content inside the banner */
    
    }
    
    .banner-text-area {
        margin-top: 20px;
        margin-bottom: 20px;
    }

  }