.tracktable_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracktable_artist_name {
  color: rgb(158, 154, 154);
  margin-right: 1rem;
}

.tracktable_row {
  padding: 0.5rem;
}

.tracktable_row:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
}

.tracktable_row:hover .tracktable_artist_name {
  color: white;
}

.tracktable_title:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.tracktable_artist_name:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.tracktable_img {
  border-radius: 10px;
}