.artistdetailpage_img {
  width: 100%;
  height: calc(40vh + 64px);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.artistdetailpage_info {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.artistdetailpage_name {
  font-weight: 900;
  font-size: 5vw;
  
}

.artistdetailpage_popular_txt {
  font-weight: 800;
  font-size: 2rem;
}

.artistdetailpage_more_albums {
  font-weight: 800;
  font-size: 2rem;
}

.artistdetailpage_more_albums:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

.artistdetailpage_related_artists {
  font-weight: 800;
  font-size: 2rem;
}