.Playlist_img {
    margin-top: 2em;
    height: 350px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
  }
  .Playlist_img img {
    height: 300px;
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
  }

  .Playlist_img img:hover {
    transform: scale(1.2);
    z-index: 999;
  }
  @media screen and (max-width: 1850px){
    .Playlist_img {
      margin-top: 1em;
      height: 300px;
    }
  
    .Playlist_img img {
      height: 220px;
      width: 220px;
    }
  }
  @media screen and (max-width: 1350px){
    .Playlist_img {
      margin-top: 1em;
      height: 250px;
    }

    .Playlist_img img {
      height: 200px;
      width: 200px;
    }
  }
  @media screen and (max-width: 768px) {

    .Playlist_img {
        margin-top: 1em;
        height: 350px;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
      }
      .Playlist_img img {
        height: 220px;
        width: 220px;
        cursor: pointer;
        transition: transform 0.3s;
        position: relative;

      }

      .Playlist_img img:hover {
        transform: scale(1.2);
        z-index: 999;
      }
  }