.artistcard_card {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  text-align: center;
  padding: 5px;
  z-index: 2;
}

.artistcard_card:hover {
  background-color: rgb(44, 44, 44);
  cursor: pointer;
}

.artistcard_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.artistcard_artist {
  color: rgb(158, 154, 154);
  z-index: 3;
}

.artistcard_artist:hover {
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}