@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.loginpage_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
}

.loginpage_googleicon {
  margin-right: 1em;
  margin-bottom: 3px;
  font-size: 1.2em;
}

.loginpage_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 2.5em;
  cursor: pointer;
}

.loginpage_logo {
  width: 5em;
  height: 5em;
  margin-right: 1em;
}

.loginpage_logo_text {
  font-size: 70px;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
}

.loginpage_loginbtn {
  background-color: black;
  border: 1.5px solid white;
  border-radius: 3em;
  padding: 0.6em 1.7em;
  font-size: 1.5em;
  vertical-align: middle;
  font-weight: bold;
}

.loginpage_loginbtn:hover {
  border: 3px solid white;
  background-color: transparent;
}

.copyright {
  color: white;
  text-align: center;
  margin-bottom: 5em;
}

@media (max-width: 576px) {
  .loginpage_logo_text {
    font-size: 60px;
  }

  .loginpage_loginbtn {
    font-size: 1.3em;
    padding: 0.5em 1em;
  }

  .loginpage_logo {
    width: 3em;
    height: 3em;
  }
}
