.artists_img{
    width: 150px;
    border-radius: 50%;
}

.artists_section{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.artists_area{
    text-align: center;
}

@media screen and (max-width: 430px) {
    .artists_img{
        width: 130px;
        margin: 0px 7px;
        border-radius: 50%;
    }
}