.detailpage_body {
    background-color: black;
    color: white;
    height: 100%;
}

.detailpage_title {
    margin-top: 2rem;
}

.detailpage_title > div {
    font-weight: 900;
    font-size: 5rem;
}

.detailpage_poster {
    cursor: pointer;
    transition: 0.5s;
}

.detailpage_poster:hover {
    transform: scale(1.05);
}

.detailpage_more_albums {
    font-weight: 800;
    font-size: 2rem;
}