.tracklisttable_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracklisttable_artist_name {
  color: rgb(158, 154, 154);
  margin-right: 1rem;
}

.tracklisttable_row:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
}

.tracklisttable_row:hover .tracklisttable_artist_name {
  color: white;
}

.tracklisttable_title:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.tracklisttable_artist_name:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
