@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.navbar {
  font-family: "Ubuntu", sans-serif;
  padding-top: 0.15em;
  padding-bottom: 0.1em;
  font-size: 1.7em;
  background-color: black !important;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo_img {
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.5em;
}

.navbar_logo_text {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3px;
  margin-right: 0.3em;
}

/* 데스크탑 navbar home, playlist 링크 */
.nav-link {
  color: white !important;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.nav-link:hover {
  background-color: gray;
}

.navbar_playlist_link {
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  /* background-color: rgb(126, 58, 26); */
}

.navbar_playlist_link:hover {
  transform: scale(1.1);
  /* color: rgb(240, 120, 63); */
}

.input-group {
  position: relative;
}

/* .navbar_search_btn {
  margin-right: 1em;
  background-color: white;
  border: none;
}

.navbar_search_icon {
  position: absolute;
  right: 45px;
  top: 10px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.navbar_search_icon:hover {
  background-color: transparent;
} */

.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-inline {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 730px; /* Adjust as needed */
}

.form-inline .form-control {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

/* 부트스트랩 <Button>컴포넌트 스타일링 */
.navbar_login_btn {
  background-color: white;
  font-size: 0.8em;
  font-weight: 550;
  margin-right: 10px;
  padding: 0.2em 0.5em;
  color: black;
  white-space: nowrap;
  border: none;
  border-radius: 50px;
  padding-bottom: 6px;
  padding-top: 3px;
}

.navbar_login_btn:hover {
  background-color: gray;
}

.navbar_user_info {
  display: flex;
  align-items: center;
}

.navbar_user_info span {
  margin-right: 0.5em;
  color: white;
  font-size: 0.8em;
}

.navbar_logout_btn {
  background-color: gray;
  color: white;
  border: none;
  font-size: 0.6em;
  padding: 5px 8px;
}

.navbar_logout_btn:hover {
  background-color: gray;
  transform: scale(1.05);
}

/* 일반 <button>태그 사용 */
/* .navbar_login_btn {
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  white-space: nowrap;
  border: none;
  background-color: black;
}

.navbar_login_btn:hover {
  background-color: gray;
  border-radius: 1em;
} */

/* Media query for mobile */
@media (max-width: 992px) {
  .navbar_playlist_link,
  .navbar_user_info,
  .navbar_login_btn,
  .navbar_logout_btn {
    display: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .nav-link {
    font-size: 0.8em;
  }
}

/* Hide the mobile menu on large screens */
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

/* Show the desktop menu on large screens */
@media (min-width: 992px) {
  .d-none {
    display: none !important;
  }
  .hamburger_menu_login_link {
    display: none;
  }
}

/* 햄버거 아이콘*/
.custom-toggle {
  color: white;
  border-color: white;
}

.hamburger_menu_home_link {
  padding-bottom: 5px;
}

/* .navbar .navbar-collapse {
  display: flex;
  flex: 1;
  justify-content: center;
} */
